ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    text-decoration: none;
}

img {
    display: block;

}

.gallery {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    justify-content: center;


}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);

}